@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

// preset bootstrap container max-width for specific breakpoints
@import "./_bootstrap-variables";

// bootstrap core styles
@import "~bootstrap/scss/bootstrap";

@import "./theme-colors";
@import "./mixins";

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: "Poppins", sans-serif;
}

.container {
  width: 90%;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

button:focus,
button:active {
  outline: none;
  box-shadow: none;
}

// atoms styles
@import "./atoms/CloseButton";
@import "./atoms/PaginationButton";

// organisms styles
@import "./organisms/ContactForm";
@import "./organisms/NavigationBar";
@import "./organisms/Hero";
@import "./organisms/Services";
@import "./organisms/Benefits";
@import "./organisms/ImageSection";
@import "./organisms/PostSection";
@import "./organisms/GallerySection";
@import "./organisms/Footer";

// media queries for larger screens
@import "./media";
