@media (min-width: 600px) {
  .hero-container .arrows {
    padding: 0;
    justify-content: flex-start;
    bottom: 0;
    & .pagination-button {
      width: 80px;
      height: 70px;
    }
  }
  .benefits-wrapper {
    grid-template-columns: repeat(2, 50%);
    & .benefit:not(:first-child) {
      padding-top: 60px;
    }
  }
  .img-section-wrapper {
    &-content {
      & h4 {
        font-size: 5vw;
      }
    }
    & .strokes-shape {
      height: 60px;
    }
  }
  .footer-wrapper {
    & ul:last-of-type {
      margin-top: 40px;
    }
  }

  .privacy-policy {
    margin-top: 40px;
  }
}

@media (min-width: 768px) {
  .gallery-section-inner {
    height: 450px;

    & .slide-wrapper {
      height: 450px;
    }
    & .swiper-slide:last-child > .slide-wrapper {
      height: 450px;
    }
  }
  .slider-text {
    & h2 {
      font-size: 42px;
    }
    & p {
      font-size: 28px;
    }
  }
}
@media (min-width: 992px) {
  .benefits-wrapper {
    grid-template-columns: repeat(2, 50%);
    & .benefit {
      font-size: 21px;
    }
  }
  .learn-more {
    min-height: 78px;
    min-width: 380px;
    font-size: 18px;
    margin-top: 120px;

    & span {
      margin-left: 15px;
    }

    & span:last-of-type {
      width: 78px;
    }
    &:hover::before {
      width: calc(100% - 78px);
    }
  }
  .services-wrapper {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 495px 363px;
    grid-gap: 30px;
    margin-top: 140px;
  }
  .service {
    & .service-description {
      padding: 35px 25px 10px 35px;
      min-width: 223px;
      min-height: 159px;
    }
    & .enter-arrow {
      width: 80px;
      height: 80px;
    }
  }
  .service-1 {
    grid-column: 1/2;
    grid-row: 1/2;
  }
  .service-2 {
    grid-column: 2/3;
    grid-row: 1/2;
  }
  .service-3 {
    grid-column: 1/2;
    grid-row: 2/3;
  }
  .service-4 {
    grid-column: 2/3;
    grid-row: 2/3;
  }
  .service-1 .service-content {
    top: 29px;
    left: 29px;
  }
  .service-2 .service-content {
    top: 29px;
    left: 29px;
  }
  .service-3 .service-content {
    top: auto;
    bottom: 29px;
    left: 29px;
  }
  .service-4 .service-content {
    top: auto;
    bottom: 29px;
    left: 29px;
  }
  .posts-wrapper {
    & .posts {
      flex-direction: row;
      row-gap: 0;
      column-gap: 30px;
    }
  }
}

@media (min-width: 1200px) {
  .hero-container .arrows {
    & .pagination-button {
      width: 145px;
      height: 118px;
    }
  }
  .hero-container .arrows {
    justify-content: flex-start;
    bottom: 0;
  }
  .gallery-section {
    & .swiper {
      & > .arrow-left {
        left: 15px;
      }
      & > .arrow-right {
        right: 15px;
      }
    }
  }
  .benefits-wrapper {
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: 1fr 1fr;
    margin-bottom: 100px;
    & .benefit {
      font-size: 24px;
    }
    & .benefit:not(:first-child) {
      padding-top: 60px;
    }
  }
  .service {
    & .enter-arrow {
      width: 130px;
      height: 130px;
    }
  }
  .slider-text {
    align-items: end;
    padding-top: 400px;
    padding-bottom: 175px;
    & h2 {
      font-size: 50px;
    }
    & p {
      font-size: 32px;
    }
  }

  @media (min-height: 830px) {
    div.slider-items.visible {
      width: 90%;
      max-width: 1568px;
    }
    .close-btn {
      display: none;
    }
    .slider-items {
      position: absolute;
      display: grid;
      grid-template-rows: 180px 1fr 1fr;
      grid-template-columns: 1fr 449px;
      // width: 90%;
      height: 100%;
      // max-width: 1568px;
      left: 50%;
      top: 0;
      transform: translateX(-50%);
      z-index: 10;
    }
    .contact-btn {
      display: none;
    }
    .contact-form {
      grid-row: 2/3;
      grid-column: 2/3;
      padding: 33px;
      width: 449px;
      &-wrapper {
        width: 100%;
        max-width: none;
      }
      & button[type="submit"] {
        max-width: none;
        margin-top: 22px;
      }
      & h2 {
        font-weight: 700;
        font-size: 28px;
      }
      & h3 {
        font-size: 18px;
        font-weight: 700;
      }
    }
  }
  .hero-container {
    position: relative;
  }
  .navbar {
    background-color: transparent;
    padding: 45px 0;
    transition: padding 0.2s;
  }
  .navbar-brand {
    font-size: 48px;
  }
  .navbar.shrinked {
    background-color: $dark1;
    padding: 5px 0;
  }
  .img-section-wrapper {
    & .divider-wrapper {
      position: absolute;
      width: 100%;
      max-width: 1568px;
      left: 50%;
      transform: translateX(-50%);
      z-index: 16;
      bottom: 30px;
      & .divider {
        display: block;
        background-color: $dark1;
        width: 30%;
        height: 20px;
      }
    }
    &-content {
      & h4 {
        font-size: 5vw;
      }
    }
    & .strokes-shape {
      top: -72px;
      right: 175px;
      height: 144px;
    }
  }
  .gallery-section {
    &-title {
      position: absolute;
      right: 0;
      top: 0;
      min-width: 495px;
      min-height: 200px;
      background-color: white;
      z-index: 10;
      text-align: left;
      & > h1 {
        @include text-h1;
        margin-left: 78px;
        margin-top: 35px;
      }
      & > .divider {
        position: absolute;
        display: block;
        background-color: $dark1;
        height: 20px;
        width: 400px;
        top: 120px;
        left: -167px;
      }
    }
  }

  .gallery-section-inner {
    position: relative;
    margin-bottom: 170px;
    height: 888px;

    & .slide-wrapper {
      height: 888px;
      margin-right: 30px;
    }
    & .swiper-slide:last-child > .slide-wrapper {
      height: 888px;
      margin-right: 0;
    }
    & .gatsby-image-wrapper {
      margin: 30px 0;
    }
  }
}

@media (min-width: 1600px) {
  .benefits-wrapper {
    & .benefit {
      align-items: flex-start;
      font-size: 28px;
    }
  }
  .slider-text {
    & > .container > div {
      max-width: 900px;
    }
    & h2 {
      font-size: 65px;
    }
    & p {
      font-size: 48px;
    }
  }
  .img-section-wrapper {
    margin-top: 212px;
    position: relative;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 200px;
    & .divider-wrapper {
      & .divider {
        width: 610px;
      }
    }
    &-bg {
      height: 100%;
      width: 100%;
      max-width: 1568px;
      z-index: 10;
      & > .gatsby-image-wrapper {
        min-height: auto;
      }
    }
    &-content {
      position: absolute;
      left: 50%;
      width: 100%;
      z-index: 12;
      max-width: 1568px;
      transform: translateX(-50%);
      & h4 {
        font-weight: 700;
        font-size: 3.2vw;
      }
    }
    & .strokes-shape {
      position: absolute;
      top: -72px;
      right: 175px;
      z-index: 15;
    }
  }
  .posts-wrapper {
    & h1 {
      margin-bottom: 119px;
    }
    & .posts {
      column-gap: 110px;
    }
  }

  .single-post {
    & .gatsby-image-wrapper {
      min-height: 334px;
    }
    & .post-date {
      color: $dark1;
      font-size: 18px;
      font-weight: 400;
      line-height: 75px;
    }
    & .post-title {
      font-size: 28px;
      font-weight: 700;
      line-height: 38px;
    }
    & a {
      color: $dark1;
      font-size: 18px;
      margin-top: 20px;
    }
  }
  .footer-wrapper {
    font-size: 16px;
    position: relative;
    &-inner {
      padding: 80px 0 45px 0;
    }
    & ul {
      margin-top: 90px;
    }
    & ul:last-of-type {
      margin-top: 90px;
    }
    & a {
      text-decoration: none;
      color: white;
    }
    & .shapes-icon {
      top: -30px;
      left: auto;
      right: 175px;
      height: 68px;
    }
  }

  .site-author {
    font-size: 12px;
  }

  .privacy-policy {
    font-size: 12px;
    margin-top: 145px;
  }

  .gallery-section {
    &-title {
      position: absolute;
      right: 0;
      top: 0;
      min-width: 495px;
      min-height: 250px;
      & > h1 {
        @include text-h1;
        margin-left: 78px;
        margin-top: 35px;
      }
      & > .divider {
        position: absolute;
        display: block;
        top: 139px;
        left: -194px;
      }
    }
  }

  .gallery-section-inner {
    position: relative;
    margin-bottom: 170px;
    height: 888px;

    & .slide-wrapper {
      height: 888px;
      margin-right: 30px;
    }
    & .swiper-slide:last-child > .slide-wrapper {
      height: 888px;
      margin-right: 0;
    }
    & .gatsby-image-wrapper {
      margin: 30px 0;
    }
  }
}
